// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.download {
    max-height: 45px;
}

.mentioned {
    max-height: 45px;
}

.illustration--small {
    max-height: 80px;
}
